<%= form_for @task, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :start, :class => 'date_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :end, :class => 'date_field' %>
    </div>
  </div>
  <div class="control-group">
		<% if 'edit'.eql?action_name %>
		  <%= f.label :flat, :class => 'control-label' %>
			<% @task.attachments.each do |image| %>
		  	<div class="controls">
				<%= image_tag image.flat.url %><br /><br />
				<%= link_to "Remove image", attachment_path(image), :method => 'delete', :class => 'btn btn-mini btn-danger' %>
				</div>
			<% end %>
		<% else %>
			<%= f.fields_for :attachment, Attachment.new do |uf| %>
		  	<%= uf.label :flat, :class => 'control-label' %>
				<div class="controls">
			  	<%= uf.file_field :flat, :class => 'file_field' %>
				</div>
			<% end %>
		<% end %>
  </div>
	<div class="checkbox">
		<% if 'edit'.eql?action_name %>
			<%= collection_check_boxes(:task, :category_ids, Category.all, :id, :title) %>
		<% else %>
			<%= collection_check_boxes(:category, :id, Category.all, :id, :title) %>
		<% end %>
	</div>
	

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div>
<% end %>
